### 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’

In [13]:
import requests
from bs4 import BeautifulSoup

wiki = requests.get('https://en.wikipedia.org/wiki/Main_Page')
soup = BeautifulSoup(wiki.text, 'html.parser')

head_tag=soup.find_all(['h1','h2','h3'])
Header =[]
for i in head_tag:
    Header.append(i.get_text().replace("\n",""))


Wikipedia_Header=pd.DataFrame({})
Wikipedia_Header['Wikipedia Main Page Header Tag']=Header
print('\033[1m'+'Wikipedia Main Page Header Tag'+'\033[0m')
Wikipedia_Header

Wikipedia Main Page Header Tag

   Wikipedia Main Page Header Tag
0                       Main Page
1   From today's featured article
2                Did you know ...
3                     In the news
4                     On this day
5        Today's featured picture
6        Other areas of Wikipedia
7     Wikipedia's sister projects
8             Wikipedia languages
9                 Navigation menu
10                 Personal tools
11                     Namespaces
12      Variantsexpandedcollapsed
13                          Views
14          Moreexpandedcollapsed
15                         Search
16                     Navigation
17                     Contribute
18                          Tools
19                   Print/export
20              In other projects
21                      Languages

### 2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of  release).

In [8]:
from bs4 import BeautifulSoup
import requests
import re


# Downloading imdb top 250 movie's data
url = 'http://www.imdb.com/chart/top'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]

ratings = [b.attrs.get('data-value')
		for b in soup.select('td.posterColumn span[name=ir]')]

votes = [b.attrs.get('data-value')
		for b in soup.select('td.ratingColumn strong')]

list = []

# create a empty list for storing
# movie information
list = []

# Iterating over movies to extract
# each movie's details
for index in range(0, 101):
	
	# Separating movie into: 'place',
	# 'title', 'year'
	movie_string = movies[index].get_text()
	movie = (' '.join(movie_string.split()).replace('.', ''))
	movie_title = movie[len(str(index))+1:-7]
	year = re.search('\((.*?)\)', movie_string).group(1)
	place = movie[:len(str(index))-(len(movie))]
	data = {"movie_title": movie_title,
			"year": year,
			"place": place,
			"star_cast": crew[index],
			"rating": ratings[index],
			"vote": votes[index],
			"link": links[index]}
	list.append(data)
print('\033[1m'+'IMDB’s Top rated 100 movies of all time'+'\033[0m')
# printing movie details with its rating.
for movie in list:
	print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
		') -', 'Starring:', movie['star_cast'], movie['rating'])

IMDB’s Top rated 100 movies of all time
1 - The Shawshank Redemption (1994) - Starring: Frank Darabont (dir.), Tim Robbins, Morgan Freeman 9.220525437092023
2 - The Godfather (1972) - Starring: Francis Ford Coppola (dir.), Marlon Brando, Al Pacino 9.147254693401418
3 - The Godfather: Part II (1974) - Starring: Francis Ford Coppola (dir.), Al Pacino, Robert De Niro 8.980484762364446
4 - The Dark Knight (2008) - Starring: Christopher Nolan (dir.), Christian Bale, Heath Ledger 8.973007013854483
5 - 12 Angry Men (1957) - Starring: Sidney Lumet (dir.), Henry Fonda, Lee J. Cobb 8.939052346008403
6 - Schindler's List (1993) - Starring: Steven Spielberg (dir.), Liam Neeson, Ralph Fiennes 8.911126451636287
7 - The Lord of the Rings: The Return of the King (2003) - Starring: Peter Jackson (dir.), Elijah Wood, Viggo Mortensen 8.888265690162909
8 - Pulp Fiction (1994) - Starring: Quentin Tarantino (dir.), John Travolta, Uma Thurman 8.836093366296193
9 - Il buono, il brutto, il cattivo (1966) - Starring: Sergio Leone (dir.), Clint Eastwood, Eli Wallach 8.786417616879934
1 -  The Lord of the Rings: The Fellowship of the Ring (2001) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.778483299588494
11 - Fight Club (1999) - Starring: David Fincher (dir.), Brad Pitt, Edward Norton 8.752366727473314
12 - Forrest Gump (1994) - Starring: Robert Zemeckis (dir.), Tom Hanks, Robin Wright 8.743875443879208
13 - Inception (2010) - Starring: Christopher Nolan (dir.), Leonardo DiCaprio, Joseph Gordon-Levitt 8.714658217044231
14 - The Lord of the Rings: The Two Towers (2002) - Starring: Peter Jackson (dir.), Elijah Wood, Ian McKellen 8.701984020346915
15 - Star Wars: Episode V - The Empire Strikes Back (1980) - Starring: Irvin Kershner (dir.), Mark Hamill, Harrison Ford 8.694831695847846
16 - The Matrix (1999) - Starring: Lana Wachowski (dir.), Keanu Reeves, Laurence Fishburne 8.645260663336758
17 - Goodfellas (1990) - Starring: Martin Scorsese (dir.), Robert De Niro, Ray Liotta 8.643779197918887
18 - One Flew Over the Cuckoo's Nest (1975) - Starring: Milos Forman (dir.), Jack Nicholson, Louise Fletcher 8.635175324924898
19 - Shichinin no samurai (1954) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Takashi Shimura 8.609180583398652
20 - Se7en (1995) - Starring: David Fincher (dir.), Morgan Freeman, Brad Pitt 8.587256533693381
21 - The Silence of the Lambs (1991) - Starring: Jonathan Demme (dir.), Jodie Foster, Anthony Hopkins 8.57699853618905
22 - Cidade de Deus (2002) - Starring: Fernando Meirelles (dir.), Alexandre Rodrigues, Leandro Firmino 8.576388110409992
23 - La vita è bella (1997) - Starring: Roberto Benigni (dir.), Roberto Benigni, Nicoletta Braschi 8.574751661164576
24 - It's a Wonderful Life (1946) - Starring: Frank Capra (dir.), James Stewart, Donna Reed 8.574164423773945
25 - Star Wars (1977) - Starring: George Lucas (dir.), Mark Hamill, Harrison Ford 8.551744905348423
26 - Saving Private Ryan (1998) - Starring: Steven Spielberg (dir.), Tom Hanks, Matt Damon 8.5498736912818
27 - Interstellar (2014) - Starring: Christopher Nolan (dir.), Matthew McConaughey, Anne Hathaway 8.539047786013564
28 - Sen to Chihiro no kamikakushi (2001) - Starring: Hayao Miyazaki (dir.), Daveigh Chase, Suzanne Pleshette 8.538394881071776
29 - The Green Mile (1999) - Starring: Frank Darabont (dir.), Tom Hanks, Michael Clarke Duncan 8.535769723509029
30 - Gisaengchung (2019) - Starring: Bong Joon Ho (dir.), Kang-ho Song, Sun-kyun Lee 8.527717705323646
31 - Léon (1994) - Starring: Luc Besson (dir.), Jean Reno, Gary Oldman 8.499653062993588
32 - Seppuku (1962) - Starring: Masaki Kobayashi (dir.), Tatsuya Nakadai, Akira Ishihama 8.495560979337155
33 - The Pianist (2002) - Starring: Roman Polanski (dir.), Adrien Brody, Thomas Kretschmann 8.489382621624161
34 - The Usual Suspects (1995) - Starring: Bryan Singer (dir.), Kevin Spacey, Gabriel Byrne 8.486459196879734
35 - Terminator 2: Judgment Day (1991) - Starring: James Cameron (dir.), Arnold Schwarzenegger, Linda Hamilton 8.484589561348098
36 - Back to the Future (1985) - Starring: Robert Zemeckis (dir.), Michael J. Fox, Christopher Lloyd 8.484276739380666
37 - Psycho (1960) - Starring: Alfred Hitchcock (dir.), Anthony Perkins, Janet Leigh 8.482065551165478
38 - The Lion King (1994) - Starring: Roger Allers (dir.), Matthew Broderick, Jeremy Irons 8.480908306905915
39 - Modern Times (1936) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.480483341350816
40 - American History X (1998) - Starring: Tony Kaye (dir.), Edward Norton, Edward Furlong 8.47377105092814
41 - City Lights (1931) - Starring: Charles Chaplin (dir.), Charles Chaplin, Virginia Cherrill 8.471638424234733
42 - Hotaru no haka (1988) - Starring: Isao Takahata (dir.), Tsutomu Tatsumi, Ayano Shiraishi 8.469989561141722
43 - Whiplash (2014) - Starring: Damien Chazelle (dir.), Miles Teller, J.K. Simmons 8.468479761352203
44 - Gladiator (2000) - Starring: Ridley Scott (dir.), Russell Crowe, Joaquin Phoenix 8.468162742526717
45 - The Departed (2006) - Starring: Martin Scorsese (dir.), Leonardo DiCaprio, Matt Damon 8.466689439761597
46 - The Intouchables (2011) - Starring: Olivier Nakache (dir.), François Cluzet, Omar Sy 8.459662685686508
47 - The Prestige (2006) - Starring: Christopher Nolan (dir.), Christian Bale, Hugh Jackman 8.452911192669017
48 - Casablanca (1942) - Starring: Michael Curtiz (dir.), Humphrey Bogart, Ingrid Bergman 8.449554507190916
49 - Once Upon a Time in the West (1968) - Starring: Sergio Leone (dir.), Henry Fonda, Charles Bronson 8.447909439166875
50 - Rear Window (1954) - Starring: Alfred Hitchcock (dir.), James Stewart, Grace Kelly 8.438867891811535
51 - Nuovo Cinema Paradiso (1988) - Starring: Giuseppe Tornatore (dir.), Philippe Noiret, Enzo Cannavale 8.436195887628836
52 - Alien (1979) - Starring: Ridley Scott (dir.), Sigourney Weaver, Tom Skerritt 8.422554130210312
53 - Apocalypse Now (1979) - Starring: Francis Ford Coppola (dir.), Martin Sheen, Marlon Brando 8.417558519398339
54 - Memento (2000) - Starring: Christopher Nolan (dir.), Guy Pearce, Carrie-Anne Moss 8.40942092273915
55 - Raiders of the Lost Ark (1981) - Starring: Steven Spielberg (dir.), Harrison Ford, Karen Allen 8.406478833023833
56 - The Great Dictator (1940) - Starring: Charles Chaplin (dir.), Charles Chaplin, Paulette Goddard 8.404805133879645
57 - The Lives of Others (2006) - Starring: Florian Henckel von Donnersmarck (dir.), Ulrich Mühe, Martina Gedeck 8.39131459102549
58 - Django Unchained (2012) - Starring: Quentin Tarantino (dir.), Jamie Foxx, Christoph Waltz 8.389652859216119
59 - Paths of Glory (1957) - Starring: Stanley Kubrick (dir.), Kirk Douglas, Ralph Meeker 8.382964995198353
60 - Sunset Blvd (1950) - Starring: Billy Wilder (dir.), William Holden, Gloria Swanson 8.377148055078317
61 - WALL·E (2008) - Starring: Andrew Stanton (dir.), Ben Burtt, Elissa Knight 8.372915083472206
62 - Avengers: Infinity War (2018) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Hemsworth 8.365047592946443
63 - The Shining (1980) - Starring: Stanley Kubrick (dir.), Jack Nicholson, Shelley Duvall 8.364604788612874
64 - Witness for the Prosecution (1957) - Starring: Billy Wilder (dir.), Tyrone Power, Marlene Dietrich 8.363564160376004
65 - Spider-Man: Into the Spider-Verse (2018) - Starring: Bob Persichetti (dir.), Shameik Moore, Jake Johnson 8.354239463544971
66 - Dr Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964) - Starring: Stanley Kubrick (dir.), Peter Sellers, George C. Scott 8.353154077519525
67 - Joker (2019) - Starring: Todd Phillips (dir.), Joaquin Phoenix, Robert De Niro 8.348825749531162
68 - Mononoke-hime (1997) - Starring: Hayao Miyazaki (dir.), Yôji Matsuda, Yuriko Ishida 8.344783803097313
69 - Oldeuboi (2003) - Starring: Park Chan-Wook (dir.), Choi Min-sik, Yoo Ji-Tae 8.344268488932707
70 - Kimi no na wa (2016) - Starring: Makoto Shinkai (dir.), Ryûnosuke Kamiki, Mone Kamishiraishi 8.326244428734695
71 - Once Upon a Time in America (1984) - Starring: Sergio Leone (dir.), Robert De Niro, James Woods 8.322963432175529
72 - The Dark Knight Rises (2012) - Starring: Christopher Nolan (dir.), Christian Bale, Tom Hardy 8.322563833034478
73 - Aliens (1986) - Starring: James Cameron (dir.), Sigourney Weaver, Michael Biehn 8.321435369314422
74 - Coco (2017) - Starring: Lee Unkrich (dir.), Anthony Gonzalez, Gael García Bernal 8.321369241818278
75 - Capharnaüm (2018) - Starring: Nadine Labaki (dir.), Zain Al Rafeea, Yordanos Shiferaw 8.31021148469804
76 - Avengers: Endgame (2019) - Starring: Anthony Russo (dir.), Robert Downey Jr., Chris Evans 8.308277068027571
77 - Das Boot (1981) - Starring: Wolfgang Petersen (dir.), Jürgen Prochnow, Herbert Grönemeyer 8.307116018131758
78 - Hamilton (2020) - Starring: Thomas Kail (dir.), Lin-Manuel Miranda, Phillipa Soo 8.306581156433783
79 - Tengoku to jigoku (1963) - Starring: Akira Kurosawa (dir.), Toshirô Mifune, Yutaka Sada 8.304457936431291
80 - American Beauty (1999) - Starring: Sam Mendes (dir.), Kevin Spacey, Annette Bening 8.298104433666518
81 - Toy Story (1995) - Starring: John Lasseter (dir.), Tom Hanks, Tim Allen 8.296194657663758
82 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan 8.296010340229342
83 - Amadeus (1984) - Starring: Milos Forman (dir.), F. Murray Abraham, Tom Hulce 8.29473780468429
84 - Braveheart (1995) - Starring: Mel Gibson (dir.), Mel Gibson, Sophie Marceau 8.29419833442334
85 - Inglourious Basterds (2009) - Starring: Quentin Tarantino (dir.), Brad Pitt, Diane Kruger 8.287686752059303
86 - Good Will Hunting (1997) - Starring: Gus Van Sant (dir.), Robin Williams, Matt Damon 8.2807489732348
87 - Star Wars: Episode VI - Return of the Jedi (1983) - Starring: Richard Marquand (dir.), Mark Hamill, Harrison Ford 8.274866001143065
88 - 2001: A Space Odyssey (1968) - Starring: Stanley Kubrick (dir.), Keir Dullea, Gary Lockwood 8.273300784112948
89 - Reservoir Dogs (1992) - Starring: Quentin Tarantino (dir.), Harvey Keitel, Tim Roth 8.2721193314144
90 - M - Eine Stadt sucht einen Mörder (1931) - Starring: Fritz Lang (dir.), Peter Lorre, Ellen Widmann 8.271024797442745
91 - Taare Zameen Par (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan 8.27091515844329
92 - Vertigo (1958) - Starring: Alfred Hitchcock (dir.), James Stewart, Kim Novak 8.269166198178242
93 - Citizen Kane (1941) - Starring: Orson Welles (dir.), Orson Welles, Joseph Cotten 8.267664695394211
94 - Idi i smotri (1985) - Starring: Elem Klimov (dir.), Aleksey Kravchenko, Olga Mironova 8.266423034239654
95 - Jagten (2012) - Starring: Thomas Vinterberg (dir.), Mads Mikkelsen, Thomas Bo Larsen 8.264664620383403
96 - Requiem for a Dream (2000) - Starring: Darren Aronofsky (dir.), Ellen Burstyn, Jared Leto 8.261462792692205
97 - Dune (2021) - Starring: Denis Villeneuve (dir.), Timothée Chalamet, Rebecca Ferguson 8.261415291772611
98 - Singin' in the Rain (1952) - Starring: Stanley Donen (dir.), Gene Kelly, Donald O'Connor 8.25892682450876
99 - North by Northwest (1959) - Starring: Alfred Hitchcock (dir.), Cary Grant, Eva Marie Saint 8.257844733908808
10 -  Eternal Sunshine of the Spotless Mind (2004) - Starring: Michel Gondry (dir.), Jim Carrey, Kate Winslet 8.256125092454068
101 - Ikiru (1952) - Starring: Akira Kurosawa (dir.), Takashi Shimura, Nobuo Kaneko 8.254753646851377

### 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release).

In [7]:
from bs4 import BeautifulSoup
import requests
import re


# Downloading imdb top 250 movie's data
url = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(url)
soup = BeautifulSoup(response.text, 'lxml')

movies = soup.select('td.titleColumn')
links = [a.attrs.get('href') for a in soup.select('td.titleColumn a')]
crew = [a.attrs.get('title') for a in soup.select('td.titleColumn a')]

ratings = [b.attrs.get('data-value')
		for b in soup.select('td.posterColumn span[name=ir]')]

votes = [b.attrs.get('data-value')
		for b in soup.select('td.ratingColumn strong')]

list = []

# create a empty list for storing
# movie information
list = []

# Iterating over movies to extract
# each movie's details
for index in range(0, 101):
	
	# Separating movie into: 'place',
	# 'title', 'year'
	movie_string = movies[index].get_text()
	movie = (' '.join(movie_string.split()).replace('.', ''))
	movie_title = movie[len(str(index))+1:-7]
	year = re.search('\((.*?)\)', movie_string).group(1)
	place = movie[:len(str(index))-(len(movie))]
	data = {"movie_title": movie_title,
			"year": year,
			"place": place,
			"star_cast": crew[index],
			"rating": ratings[index],
			"vote": votes[index],
			"link": links[index]}
	list.append(data)

print('\033[1m'+'IMDB’s Top rated 100 Indian movies'+'\033[0m')
# printing movie details with its rating.
for movie in list:
	print(movie['place'], '-', movie['movie_title'], '('+movie['year'] +
		') -', 'Starring:', movie['star_cast'], movie['rating'])

IMDB’s Top rated 100 Indian movies
1 - Nayakan (1987) - Starring: Mani Ratnam (dir.), Kamal Haasan, Saranya Ponvannan 8.494437884655886
2 - Anbe Sivam (2003) - Starring: Sundar C. (dir.), Kamal Haasan, Madhavan 8.482870128127127
3 - Pariyerum Perumal (2018) - Starring: Mari Selvaraj (dir.), Kathir, Anandhi 8.480358563778505
4 - C/o Kancharapalem (2018) - Starring: Venkatesh Maha (dir.), Radha Bessy, Subba Rao Vepada 8.469823307101493
5 - Golmaal (1979) - Starring: Hrishikesh Mukherjee (dir.), Amol Palekar, Bindiya Goswami 8.466881052035701
6 - Manichitrathazhu (1993) - Starring: Fazil (dir.), Mohanlal, Shobana 8.46121580634493
7 - Kireedam (1989) - Starring: Sibi Malayil (dir.), Mohanlal, Thilakan 8.460045191053817
8 - Apur Sansar (1959) - Starring: Satyajit Ray (dir.), Soumitra Chatterjee, Sharmila Tagore 8.456428942777157
9 - Natsamrat (2016) - Starring: Mahesh Manjrekar (dir.), Nana Patekar, Medha Manjrekar 8.436250582270226
1 -  96 (2018) - Starring: C. Prem Kumar (dir.), Vijay Sethupathi, Adithya Bhaskar 8.42879466436595
11 - Pather Panchali (1955) - Starring: Satyajit Ray (dir.), Kanu Bannerjee, Karuna Bannerjee 8.416875283077873
12 - Kumbalangi Nights (2019) - Starring: Madhu C. Narayanan (dir.), Shane Nigam, Soubin Shahir 8.414832915227402
13 - Thevar Magan (1992) - Starring: Bharathan (dir.), Kamal Haasan, Shivaji Ganesan 8.414316955831017
14 - Black Friday (2004) - Starring: Anurag Kashyap (dir.), Kay Kay Menon, Pawan Malhotra 8.411089844644913
15 - Soorarai Pottru (2020) - Starring: Sudha Kongara (dir.), Suriya, Paresh Rawal 8.363721291714395
16 - Visaaranai (2015) - Starring: Vetrimaaran (dir.), Dinesh, Samuthirakani 8.360798667446836
17 - 3 Idiots (2009) - Starring: Rajkumar Hirani (dir.), Aamir Khan, Madhavan 8.351022924955776
18 - Jersey (2019) - Starring: Gowtam Tinnanuri (dir.), Nani, Shraddha Srinath 8.341773405829906
19 - #Home (2021) - Starring: Rojin Thomas (dir.), Indrans, Sreenath Bhasi 8.340753277885254
20 - Taare Zameen Par (2007) - Starring: Aamir Khan (dir.), Darsheel Safary, Aamir Khan 8.329354099311065
21 - Drishyam 2 (2021) - Starring: Jeethu Joseph (dir.), Mohanlal, Meena 8.322762617345754
22 - Asuran (2019) - Starring: Vetrimaaran (dir.), Dhanush, Manju Warrier 8.31937745337357
23 - Thalapathi (1991) - Starring: Mani Ratnam (dir.), Rajinikanth, Mammootty 8.313656510774727
24 - Sarpatta Parambarai (2021) - Starring: Pa. Ranjith (dir.), Arya, Pasupathy 8.308089565183042
25 - Kaithi (2019) - Starring: Lokesh Kanagaraj (dir.), Karthi, Narain 8.307399900233968
26 - Dangal (2016) - Starring: Nitesh Tiwari (dir.), Aamir Khan, Sakshi Tanwar 8.29858776459647
27 - Devasuram (1993) - Starring: I.V. Sasi (dir.), Mohanlal, Revathi 8.292534143893775
28 - Aparajito (1956) - Starring: Satyajit Ray (dir.), Pinaki Sengupta, Smaran Ghosal 8.279912888984638
29 - Jaane Bhi Do Yaaro (1983) - Starring: Kundan Shah (dir.), Naseeruddin Shah, Ravi Baswani 8.275431966835967
30 - Ratsasan (2018) - Starring: Ram Kumar (dir.), Vishnu Vishal, Amala Paul 8.272841404984122
31 - Pyaasa (1957) - Starring: Guru Dutt (dir.), Guru Dutt, Waheeda Rehman 8.271920935462541
32 - Vada Chennai (2018) - Starring: Vetrimaaran (dir.), Dhanush, Ameer Sultan 8.267704217154396
33 - Peranbu (2018) - Starring: Ram (dir.), Mammootty, Sadhana 8.267483806203595
34 - Guide (1965) - Starring: Vijay Anand (dir.), Dev Anand, Waheeda Rehman 8.261145499108942
35 - Thani Oruvan (2015) - Starring: Mohan Raja (dir.), Jayam Ravi, Arvind Swamy 8.255883564578749
36 - Kannathil Muthamittal (2002) - Starring: Mani Ratnam (dir.), Madhavan, Simran 8.244381160524828
37 - Spadikam (1995) - Starring: Bhadran (dir.), Mohanlal, Thilakan 8.239862356674003
38 - Agent Sai Srinivasa Athreya (2019) - Starring: Swaroop Rsj (dir.), Naveen Polishetty, Shruti Sharma 8.239479194276695
39 - Iruvar (1997) - Starring: Mani Ratnam (dir.), Mohanlal, Prakash Raj 8.238753578485474
40 - Chupke Chupke (1975) - Starring: Hrishikesh Mukherjee (dir.), Dharmendra, Sharmila Tagore 8.238745706041353
41 - Super Deluxe (2019) - Starring: Thiagarajan Kumararaja (dir.), Vijay Sethupathi, Samantha Akkineni 8.231400892639055
42 - Mahanati (2018) - Starring: Nag Ashwin (dir.), Keerthy Suresh, Dulquer Salmaan 8.225384058634084
43 - Aruvi (2016) - Starring: Arun Prabhu Purushothaman (dir.), Aditi Balan, Padmashri Mohammad Ali 8.213813131149854
44 - Drishyam (2013) - Starring: Jeethu Joseph (dir.), Mohanlal, Meena 8.21096298388068
45 - Khosla Ka Ghosla! (2006) - Starring: Dibakar Banerjee (dir.), Anupam Kher, Boman Irani 8.207577675607636
46 - Pudhu Pettai (2006) - Starring: K. Selvaraghavan (dir.), Dhanush, Sneha 8.205771879728609
47 - Tumbbad (2018) - Starring: Rahi Anil Barve (dir.), Sohum Shah, Jyoti Malshe 8.197233518223761
48 - Vikram Vedha (2017) - Starring: Gayatri (dir.), Madhavan, Vijay Sethupathi 8.196158009606604
49 - Anniyan (2005) - Starring: S. Shankar (dir.), Vikram, Sada 8.186553757213094
50 - Premam (2015) - Starring: Alphonse Puthren (dir.), Nivin Pauly, Sai Pallavi 8.186445206079188
51 - Mudhalvan (1999) - Starring: S. Shankar (dir.), Arjun Sarja, Manisha Koirala 8.178109448448392
52 - Kaakkaa Muttai (2014) - Starring: M. Manikandan (dir.), Ramesh, J. Vignesh 8.177777985508682
53 - Bangalore Days (2014) - Starring: Anjali Menon (dir.), Nazriya Nazim, Nivin Pauly 8.177037537603336
54 - Satya (1998) - Starring: Ram Gopal Varma (dir.), J.D. Chakravarthi, Manoj Bajpayee 8.171726943935996
55 - Angoor (1982) - Starring: Gulzar (dir.), Sanjeev Kumar, Moushumi Chatterjee 8.169299107972728
56 - Andhadhun (2018) - Starring: Sriram Raghavan (dir.), Ayushmann Khurrana, Tabu 8.168222739067314
57 - Papanasam (2015) - Starring: Jeethu Joseph (dir.), Kamal Haasan, Gautami 8.16732548783505
58 - Anand (1971) - Starring: Hrishikesh Mukherjee (dir.), Rajesh Khanna, Amitabh Bachchan 8.166433273640276
59 - Soodhu Kavvum (2013) - Starring: Nalan Kumarasamy (dir.), Vijay Sethupathi, Sanchita Shetty 8.16353840587841
60 - Dhuruvangal Pathinaaru (2016) - Starring: Karthick Naren (dir.), Rahman, Prakash Raghavan 8.162076483852463
61 - Shahid (2012) - Starring: Hansal Mehta (dir.), Rajkummar Rao, Prabhleen Sandhu 8.158625033095
62 - Gangs of Wasseypur (2012) - Starring: Anurag Kashyap (dir.), Manoj Bajpayee, Richa Chadha 8.151692643130689
63 - Mandela (2021) - Starring: Madonne Ashwin (dir.), Yogi Babu, Sheela Rajkumar 8.149806572643513
64 - Pithamagan (2003) - Starring: Bala (dir.), Vikram, Suriya 8.149482429261596
65 - Jigarthanda (2014) - Starring: Karthik Subbaraj (dir.), Siddharth, Bobby Simha 8.148019223844578
66 - Paan Singh Tomar (2012) - Starring: Tigmanshu Dhulia (dir.), Irrfan Khan, Mahie Gill 8.135813204180009
67 - Bhaag Milkha Bhaag (2013) - Starring: Rakeysh Omprakash Mehra (dir.), Farhan Akhtar, Sonam Kapoor 8.131174956078285
68 - Hera Pheri (2000) - Starring: Priyadarshan (dir.), Akshay Kumar, Suniel Shetty 8.1275145209996
69 - Sairat (2016) - Starring: Nagraj Manjule (dir.), Rinku Rajguru, Akash Thosar 8.12657019406378
70 - Sholay (1975) - Starring: Ramesh Sippy (dir.), Sanjeev Kumar, Dharmendra 8.123615150861779
71 - Swades: We, the People (2004) - Starring: Ashutosh Gowariker (dir.), Shah Rukh Khan, Gayatri Joshi 8.121822366151735
72 - Talvar (2015) - Starring: Meghna Gulzar (dir.), Irrfan Khan, Konkona Sen Sharma 8.119423950109645
73 - Chak De! India (2007) - Starring: Shimit Amin (dir.), Shah Rukh Khan, Vidya Malvade 8.1194089356022
74 - Maheshinte Prathikaaram (2016) - Starring: Dileesh Pothan (dir.), Fahadh Faasil, Aparna Balamurali 8.119265597091381
75 - Ustad Hotel (2012) - Starring: Anwar Rasheed (dir.), Dulquer Salmaan, Thilakan 8.114761401581703
76 - Mughal-E-Azam (1960) - Starring: K. Asif (dir.), Prithviraj Kapoor, Madhubala 8.113534679959908
77 - Zindagi Na Milegi Dobara (2011) - Starring: Zoya Akhtar (dir.), Hrithik Roshan, Farhan Akhtar 8.111935311118975
78 - Black (2005) - Starring: Sanjay Leela Bhansali (dir.), Amitabh Bachchan, Rani Mukerji 8.111748613914823
79 - Drishyam (2015) - Starring: Nishikant Kamat (dir.), Ajay Devgn, Shriya Saran 8.110811322272943
80 - Jo Jeeta Wohi Sikandar (1992) - Starring: Mansoor Khan (dir.), Aamir Khan, Ayesha Jhulka 8.109783351059859
81 - Theeran adhigaaram ondru (2017) - Starring: H. Vinoth (dir.), Karthi, Rakul Preet Singh 8.108724696146387
82 - Nil Battey Sannata (2015) - Starring: Ashwiny Iyer Tiwari (dir.), Swara Bhaskar, Ratna Pathak Shah 8.107766246938432
83 - Chhichhore (2019) - Starring: Nitesh Tiwari (dir.), Sushant Singh Rajput, Shraddha Kapoor 8.106701531264445
84 - Article 15 (2019) - Starring: Anubhav Sinha (dir.), Ayushmann Khurrana, Nassar 8.105815609561787
85 - Charulata (1964) - Starring: Satyajit Ray (dir.), Soumitra Chatterjee, Madhabi Mukherjee 8.10530311220501
86 - Udaan (2010) - Starring: Vikramaditya Motwane (dir.), Rajat Barmecha, Ronit Roy 8.104505746902134
87 - A Wednesday (2008) - Starring: Neeraj Pandey (dir.), Anupam Kher, Naseeruddin Shah 8.101753138101492
88 - Baasha (1995) - Starring: Suresh Krishna (dir.), Rajinikanth, Nagma 8.097175301095525
89 - Alai Payuthey (2000) - Starring: Mani Ratnam (dir.), Madhavan, Shalini 8.095039362341788
90 - Munna Bhai MBBS (2003) - Starring: Rajkumar Hirani (dir.), Sanjay Dutt, Arshad Warsi 8.095039249098681
91 - Masaan (2015) - Starring: Neeraj Ghaywan (dir.), Richa Chadha, Sanjay Mishra 8.09474931936772
92 - Sarfarosh (1999) - Starring: John Mathew Matthan (dir.), Aamir Khan, Naseeruddin Shah 8.091411747724258
93 - Queen (2013) - Starring: Vikas Bahl (dir.), Kangana Ranaut, Rajkummar Rao 8.090485350490816
94 - Virumandi (2004) - Starring: Kamal Haasan (dir.), Kamal Haasan, Abhirami 8.088559315301103
95 - Dil Chahta Hai (2001) - Starring: Farhan Akhtar (dir.), Aamir Khan, Saif Ali Khan 8.086592227059061
96 - Rang De Basanti (2006) - Starring: Rakeysh Omprakash Mehra (dir.), Aamir Khan, Soha Ali Khan 8.086247503036315
97 - OMG: Oh My God! (2012) - Starring: Umesh Shukla (dir.), Paresh Rawal, Akshay Kumar 8.085213165540113
98 - Roja (1992) - Starring: Mani Ratnam (dir.), Arvind Swamy, Madhoo 8.084441288414414
99 - Uri: The Surgical Strike (2019) - Starring: Aditya Dhar (dir.), Vicky Kaushal, Paresh Rawal 8.077635090818374
10 -  Lagaan: Once Upon a Time in India (2001) - Starring: Ashutosh Gowariker (dir.), Aamir Khan, Raghuvir Yadav 8.074907936058857
101 - Andaz Apna Apna (1994) - Starring: Rajkumar Santoshi (dir.), Aamir Khan, Salman Khan 8.074018974696687

### 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from
‘www.bookpage.com’

In [6]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests


Bookpage_url = 'https://bookpage.com/reviews'

headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(Bookpage_url)

soup = BeautifulSoup(response.text,'html.parser')

Title_block = soup.find_all('div',attrs={'class':'row-fluid article-row'})
Author_block = soup.find_all('p',attrs={'class':'sans bold'})
Url_block = soup.find_all('div',attrs={'class':'read-full'})

# Creating Empty List
Book_Title = []
Genres =[]
Author_List =[]
Review =[]

# Creating function to store book detail in empty list
def get_data():
    for t in Title_block[:5]:
        Book_Title.append(t.find_all('a')[1].text)

    for genre in title_block[:5]:
        temp = []
        all_genres_per_book = genre.find_all('a')[2:-1]
        for all_g in all_genres_per_book:
            temp.append(all_g.text)
        Genres.append(temp)
        
    for a in Author_block[:5]:
        Author_List.append(a.text.strip('\n'))

    for url in Url_block[:5]:
        url_review = main_url.strip('/reviews') + url.a.get('href')

        sauce_2 = urllib.request.urlopen(url_review).read()
        soup_2 = BeautifulSoup(sauce_2,'html.parser')

        Review.append(soup_2.find('div',attrs={'class':'article-body'}).text.strip('\n'))
            
    book_review_df = pd.DataFrame({'Book Title': Book_Title,'Genres':Genres,'Author List':Author_List,'Book Review':Review})
    
    return book_review_df  
       
df = get_data()

df.to_json('book_review.json',orient='records')
df.to_csv('book_review.csv',index=False)

print('\033[1m'+'Book Review from Bookpage.com'+'\033[0m')
df

Book Review from Bookpage.com

,Book Title,Genres,Author List,Book Review
0,★ A Calling for Charlie Barnes,"[Fiction, Family Drama]",Joshua Ferris,How does one sum up the arc of a long life? Th...
1,Playing the Cards You're Dealt,"[Children's, Middle Grade]",Varian Johnson,"It’s day one of fifth grade, and Anthony “Ant”..."
2,Please Don't Sit on My Bed in Your Outside Clo...,"[Nonfiction, Essays, Humor]",Phoebe Robinson,From dubbing Michael Keaton an “Eyebrow Zaddy”...
3,Horseman,"[Science Fiction & Fantasy, Fantasy, Historica...",Christina Henry,Christina Henry’s Horseman is an atmospheric a...
4,★ Cloud Cuckoo Land,"[Fiction, Literary Fiction]",Anthony Doerr,Fans of Anthony Doerr’s Pulitzer Prize-winning...

### 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:
i) Top 10 ODI teams in men’s cricket along with the records for matches, points andrating.

ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

iii) Top 10 ODI bowlers along with the records of their team and rating

### i) Top 10 ODI teams in men’s cricket along with the records for matches, points andrating.

In [25]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n')
soup= BeautifulSoup(response.content, 'lxml')


Team=[]
Matches=[]
Points=[]
Rating=[]
Country = soup.find_all('span',class_="u-hide-phablet")
for i in Country:
    Team.append(i.get_text().replace("\n",""))
    Team=Team[0:10]

match=soup.find_all('td',class_='rankings-block__banner--matches')
matchs=soup.find_all('td',class_='table-body__cell u-center-text')
mtc = match + matchs

for i in mtc:
    Matches.append(i.text)
    Matches=Matches[0:10]
    
pt=soup.find_all('td',class_="rankings-block__banner--points")

pts= soup.find_all('td',class_ ="table-body__cell u-center-text")
Point= pt + pts
for i in Point:
    Points.append(i.get_text().replace("\n",""))
    Points=Points[0:10]
rating = soup.find_all('td',class_="table-body__cell u-text-right rating")
for i in rating:
    Rating.append(i.get_text().replace("\n",""))
    Rating=Rating[0:10]
    
ODI=pd.DataFrame({})
ODI['Country']=Team
ODI['Matches']=Matches
ODI['Rating']=Rating
ODI['Points']=Points
print('\033[1m'+'ICC MENS ODI RANKING'+'\033[0m') # Print Title in bold case
ODI

200 ---> https://www.icc-cricket.com/rankings/mens/team-rankings/odi


ICC MENS ODI RANKING

        Country Matches Rating Points
0   New Zealand      17    119  2,054
1       England      32    116     32
2     Australia   3,793    113  3,793
3         India      28     98     28
4  South Africa   3,244     93  3,244
5      Pakistan      32     91     32
6    Bangladesh   3,624     84  3,624
7   West Indies      25     83     25
8     Sri Lanka   2,459     62  2,459
9   Afghanistan      27     48     27

### ii) Top 10 ODI Batsmen in men along with the records of their team and rating.

In [11]:
# ICC Bating Ranking

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.content, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Batmans=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI MENS BATTING RANKING'+'\033[0m') # Print Title in bold case
ODI_Batmans

200 ---> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting



ICC ODI MENS BATTING RANKING

                                   Ranking      Player_Name Team Rating
0                                        1       Babar Azam         873
1                                2              Virat Kohli  IND    844
2                                3             Rohit Sharma  IND    813
3                                4              Ross Taylor   NZ    801
4                                5              Aaron Finch  AUS    779
5                                6           Jonny Bairstow  ENG    775
6                                7             David Warner  AUS    762
7                                8                Shai Hope   WI    758
8                                9          Kane Williamson   NZ    754
9                               10          Quinton de Kock   SA    747
10                              11             Fakhar Zaman  PAK    741

### iii) Top 10 ODI bowlers along with the records of their team and rating

In [14]:
# ICC ODI Mens Bowling Ranking

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.content, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Bowling=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI MENS BOWLING RANKING'+'\033[0m') # Print Title in bold case
ODI_Bowling

200 ---> https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling



ICC ODI MENS BOWLING RANKING

                                   Ranking        Player_Name Team Rating
0                                        1        Trent Boult         737
1                                2             Josh Hazlewood  AUS    709
2                                3           Mujeeb Ur Rahman  AFG    708
3                                4               Chris Woakes  ENG    700
4                                5               Mehedi Hasan  BAN    692
5                                6                 Matt Henry   NZ    691
6                                7             Jasprit Bumrah  IND    679
7                                8             Mitchell Starc  AUS    652
8                                9            Shakib Al Hasan  BAN    650
9                               10              Kagiso Rabada   SA    646
10                              11          Mustafizur Rahman  BAN    640

### 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have toscrape:
i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

ii) Top 10 women’s ODI players along with the records of their team and rating.

iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

### i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [69]:
from bs4 import BeautifulSoup
import urllib.request
import pandas as pd
import requests

url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n')
SOUP= BeautifulSoup(response.content, 'lxml')

# Creating empty list
Team=[]
Matches=[]
Points=[]
Rating=[]

# Extracting Team Name
Country = SOUP.find_all('span',class_="u-hide-phablet")
for i in Country:
    Team.append(i.get_text().replace("\n",""))
    Team=Team[0:10]
    
# Extracting No of Matches    
match=SOUP.find_all('td',class_='rankings-block__banner--matches')
matchs=SOUP.find_all('td',class_='table-body__cell u-center-text')
mtc = match + matchs
for i in  mtc:
    Matches.append(i.text)
    Matches=Matches[0:10]
    
# Extracting Points gain    
pt=SOUP.find_all('td',class_="rankings-block__banner--points")
pts= SOUP.find_all('td',class_ ="table-body__cell u-center-text")
Point= pt + pts
for i in Point:
    Points.append(i.get_text().replace("\n",""))
    Points=Points[0:10]
    
# Extracting Rating
rat=SOUP.find_all('td',class_="rankings-block__banner--rating")

rating = SOUP.find_all('td',class_="table-body__cell u-text-right rating")
RATING=rat + rating
for i in RATING:
    Rating.append(i.get_text().replace("\n",""))
    Rating=Rating[0:10]
Rating

# Creating dataframe to store data
ODI=pd.DataFrame({})
ODI['Country']=Team
ODI['Matches']=Matches
ODI['Rating']=Rating
ODI['Points']=Points

print('\033[1m'+'ICC ODI WOMENS RANKING'+'\033[0m') # Print Title in bold case
ODI

200 ---> https://www.icc-cricket.com/rankings/womens/team-rankings/odi


ICC ODI WOMENS RANKING

,Country,Matches,Rating,Points
0,Australia,21,161 ...,"3,379"
1,England,25,119,25
2,South Africa,"2,983",117,"2,983"
3,India,29,113,29
4,New Zealand,"3,390",92,"3,390"
5,West Indies,26,85,26
6,Pakistan,"2,934",75,"2,934"
7,Bangladesh,26,61,26
8,Sri Lanka,"2,392",47,"2,392"
9,Ireland,22,13,22

### ii) Top 10 women’s ODI players along with the records of their team and rating.

In [56]:
# ICC WOMENS Bating Ranking

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.text, 'lxml')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Batmans=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI WOMENS BATTING RANKING'+'\033[0m') # Print Title in bold case
ODI_Batmans

200 ---> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting



ICC ODI WOMENS BATTING RANKING

,Ranking,Player_Name,Team,Rating
0,1,Lizelle Lee,,761
1,2,Alyssa Healy,AUS,750
2,3,Mithali Raj,IND,738
3,4 This play...,Tammy Beaumont,ENG,728
4,5 This play...,Amy Satterthwaite,NZ,717
5,6 This play...,Smriti Mandhana,IND,710
6,7 This play...,Meg Lanning,AUS,699
7,8 This play...,Beth Mooney,AUS,690
8,9 This play...,Heather Knight,ENG,674
9,10 This pla...,Laura Wolvaardt,SA,672
10,11 This pla...,Rachael Haynes,AUS,668

### iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [20]:
# ICC ODI Womens Bowling Ranking

import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.text, 'html.parser')
Position =[]
Player =[]
Country =[]
Rating =[]

# Extracting Data of Top Player from Banner
block_1= soup.find('tr', attrs={'class':'rankings-block__banner'}) # contains Top Player ranking detail

Position.append(block_1.find('td',class_='rankings-block__position').text)# Ranking Position
Player.append(block_1.find('div', class_="rankings-block__banner--name-large").text) # Extract Player Name
Country.append(block_1.find('span', class_='rankings-block__banner--nation').text)# Extract Country Name
Rating.append(block_1.find('div', class_="rankings-block__banner--rating").text) # Extract Rating

# Extracting other Player Ranking
table_rows =soup.find_all('tr', attrs={'class':'table-body'})

for row in table_rows[:10]:
    Position.append(row.find('td', class_='table-body__cell table-body__cell--position u-text-right').text.replace('\n',''))
    Player.append(row.find('a').text)
    Country.append(row.find('span', class_='table-body__logo-text').text)
    Rating.append(row.find('td', class_='table-body__cell rating').text)
    
# Storing data in Dataframe
ODI_Bowling=pd.DataFrame({'Ranking':Position,'Player_Name':Player, 'Team':Country, 'Rating':Rating})

print('\033[1m'+'ICC ODI WOMENS BOWLING RANKING'+'\033[0m') # Print Title in bold case
ODI_Bowling

200 ---> https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling



ICC ODI WOMENS BOWLING RANKING

,Ranking,Player_Name,Team,Rating
0,1,Jess Jonassen,,760
1,2 This play...,Jhulan Goswami,IND,727
2,3 This play...,Megan Schutt,AUS,717
3,4 This play...,Marizanne Kapp,SA,715
4,5 This play...,Sophie Ecclestone,ENG,701
5,6 This play...,Shabnim Ismail,SA,688
6,7,Katherine Brunt,ENG,666
7,8,Ayabonga Khaka,SA,643
8,9 This play...,Anya Shrubsole,ENG,598
9,10 This pla...,Kate Cross,ENG,589
10,11 This pla...,Natalie Sciver,ENG,580

### 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [22]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://www.amazon.in/best-mobile-under-20000/s?k=best+mobile+under+20000'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.text, 'html.parser')

#
Product_block = soup.find_all('span', attrs={'class':'a-size-medium a-color-base a-text-normal'})
Rating_block = soup.find_all('span', attrs={'class':'a-icon-alt'})
Price_block = soup.find_all('span', attrs={'class':'a-price-whole'})
image_url_block = soup.find_all('div', attrs={'class':"a-section aok-relative s-image-fixed-height"})

# Creating Empty list
Smartphone =[]
Rating=[]
Price =[]
Img_url=[]

# appending data in list
Smartphone = [i.text for i in Product_block]
Price = [int(j.text.replace(',','')) for j in Price_block]
Rating = [k.text for k in Rating_block]
Img_url =[img_url.img.get('src') for img_url in image_url_block]

a ={'Mobiles & Smartphone':Smartphone,'Rating':Rating,'Price':Price,'Image_url':Img_url}
df = pd.DataFrame.from_dict(a, orient='index')
df = df.transpose()
print('\033[1m'+' Best Mobile phones under Rs. 20,000 listed on Amazon.in'+'\033[0m')
df

200 ---> https://www.amazon.in/best-mobile-under-20000/s?k=best+mobile+under+20000



 Best Mobile phones under Rs. 20,000 listed on Amazon.in

,Mobiles & Smartphone,Rating,Price,Image_url
0,"Redmi 9A (Nature Green, 2GB RAM, 32GB Storage)...",4.2 out of 5 stars,6999,https://m.media-amazon.com/images/I/71sxlhYhKW...
1,"Redmi 9 (Sky Blue, 4GB RAM, 64GB Storage) | 2....",4.2 out of 5 stars,9499,https://m.media-amazon.com/images/I/71A9Vo1Bat...
2,"Samsung Galaxy M31 (Ocean Blue, 8GB RAM, 128GB...",4.2 out of 5 stars,16999,https://m.media-amazon.com/images/I/71-Su4Wr0H...
3,Redmi 9 Power (Mighty Black 4GB RAM 64GB Stora...,4.2 out of 5 stars,11499,https://m.media-amazon.com/images/I/71hEzQGO5q...
4,"Redmi 9A (Midnight Black, 2GB RAM, 32GB Storag...",4.3 out of 5 stars,6999,https://m.media-amazon.com/images/I/71sxlhYhKW...
5,"realme C11 (2021) (Cool Blue, 2GB RAM, 32GB St...",4.1 out of 5 stars,7299,https://m.media-amazon.com/images/I/71FYSKYFup...
6,"Redmi Note 10 (Aqua Green, 4GB RAM, 64GB Stora...",4.2 out of 5 stars,13999,https://m.media-amazon.com/images/I/810GQ7CWdD...
7,"Redmi Note 10 Pro Max (Dark Night, 6GB RAM, 12...",4.1 out of 5 stars,19999,https://m.media-amazon.com/images/I/81Vpy0XrvF...
8,"Redmi 9 (Carbon Black, 4GB RAM, 64GB Storage) ...",4.2 out of 5 stars,9499,https://m.media-amazon.com/images/I/716nHhG9SW...
9,"OPPO A74 5G (Fantastic Purple,6GB RAM,128GB St...",4.2 out of 5 stars,17990,https://m.media-amazon.com/images/I/71geVdy6-O...
10,"Redmi 9 Power (Mighty Black, 6GB RAM, 128GB St...",4.2 out of 5 stars,13499,https://m.media-amazon.com/images/I/61LHaUOheh...
11,"realme C11 (2021) (Cool Blue, 4GB RAM+64GB Sto...",3.5 out of 5 stars,8799,https://m.media-amazon.com/images/I/31RDanklxi...
12,"realme C11 (2021) (Cool Grey, 2GB RAM, 32GB St...",4.1 out of 5 stars,7299,https://m.media-amazon.com/images/I/618UBhFmaQ...
13,"Redmi 9 Power (Electric Green, 6GB RAM, 128GB ...",4.2 out of 5 stars,13499,https://m.media-amazon.com/images/I/61EIaUqatT...
14,"Redmi Note 10 Pro (Glacial Blue, 6GB RAM, 128G...",4.2 out of 5 stars,17999,https://m.media-amazon.com/images/I/81nndQAg2n...
15,"OPPO A31 (Fantasy White, 6GB RAM, 128GB Storag...",4.2 out of 5 stars,12990,https://m.media-amazon.com/images/I/61CnyJ-IbM...
16,None,4 Stars & Up,None,None
17,None,3 Stars & Up,None,None
18,None,2 Stars & Up,None,None
19,None,1 Star & Up,None,None

### 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [7]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from lxml import html
import re

forcastpageContent=requests.get(
     'https://forecast.weather.gov/MapClick.php?lat=37.77493000000004&lon=-122.41941999999995#.X7vZI1UzbIU'
)

tree = html.fromstring(forcastpageContent.content)

Day = []
Sky_View = []
Temp = []
Forecast = []

for t in tree.xpath("//div[contains(@class,'row-forecast')]"):
    
    if 'ight' in t.text_content():
        temp = t.text_content().replace('ight','ight ')
        Day.append(temp.split()[0])
        Sky_View.append(temp.split(',')[0])
        Temp.append(int(''.join(re.findall('[0-9]',temp))[:2]))
        Forecast.append(''.join(temp.split(' ',maxsplit=1)[1:]))
        
    else:
        temp = t.text_content().replace('day','day ')
        Day.append(temp.split()[0])
        Sky_View.append(temp.split(',')[0])
        Temp.append(int(''.join(re.findall('[0-9]',temp))[:2]))
        Forecast.append(''.join(temp.split(' ',maxsplit=1)[1:]))
        
San_Francisco_Weather = pd.DataFrame({'Day':Day,'Sky_View':Sky_View,'Temperature':Temp,'Detail Forecast':Forecast})
print('\033[1m'+'San Francisco 7-Day Weather Forecast'+'\033[0m')
San_Francisco_Weather

San Francisco 7-Day Weather Forecast

,Day,Sky_View,Temperature,Detail Forecast
0,"TodaySunny,",TodaySunny,70,with a high near 70. Light west wind increasi...
1,Tonight,Tonight Mostly clear,55,"Mostly clear, with a low around 55. West wind ..."
2,"ThursdaySunny,",ThursdaySunny,75,with a high near 75. Light and variable wind ...
3,Thursday,Thursday Night Increasing clouds,56,"Night Increasing clouds, with a low around 56...."
4,FridayMostly,FridayMostly sunny,73,"sunny, with a high near 73. Light west wind i..."
5,Friday,Friday Night Partly cloudy,55,"Night Partly cloudy, with a low around 55."
6,Saturday,Saturday Mostly sunny,73,"Mostly sunny, with a high near 73."
7,Saturday,Saturday Night Partly cloudy,55,"Night Partly cloudy, with a low around 55."
8,Sunday,Sunday Sunny,73,"Sunny, with a high near 73."
9,Sunday,Sunday Night Partly cloudy,56,"Night Partly cloudy, with a low around 56."
10,Monday,Monday Mostly sunny,72,"Mostly sunny, with a high near 72."
11,Monday,Monday Night Partly cloudy,56,"Night Partly cloudy, with a low around 56."
12,Tuesday,Tuesday Partly sunny,68,"Partly sunny, with a high near 68."

### 9. Write a python program to scrape fresher job listings from ‘https://internshala.com/’. It should include job title, company name, CTC, and apply date.

In [7]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

url = 'https://internshala.com/internships/work-from-home-data%20science-jobs-in-mumbai'
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/87.0.4280.66 Safari/537.36'
}

response = requests.get(url)
print(response.status_code, '--->',url)
print('\n\n')
soup= BeautifulSoup(response.content, 'lxml')

Title_block = soup.find_all('div', {'class':'heading_4_5 profile'})
Company_block = soup.find_all('a', {'class':'link_display_like_text'})
Location_block = soup.find_all('a', {'class':'location_link'})
CTC_block = soup.find_all('span', {'class':'stipend'})
Date_block = soup.find_all('div', {'class':'apply_by'})



Title =[]
Company =[]
Location =[]
Stipend =[]


# appending data in list
Title = [i.text.strip('\n') for i in Title_block]
Company = [j.text.strip('\n') for j in Company_block]
Location = [k.text for k in Location_block]
Stipend =[l.text for l in CTC_block]


print(len(Title),len(Company),len(Location),len(Stipend))
df = pd.DataFrame({'Job Title':Title,'Company':Company,'Location':Location,'Stipend':Stipend})
print('\033[1m'+' Fresher job listings from ‘https://internshala.com/’'+'\033[0m')
df

200 ---> https://internshala.com/internships/work-from-home-data%20science-jobs-in-mumbai



40 40 40 40
 Fresher job listings from ‘https://internshala.com/’

,Job Title,Company,Location,Stipend
0,Research & Development,Fashion TV ...,Mumbai,2500-5000 /month
1,Data Science,Customaise Analytics P...,Work From Home,5000-10000 /month
2,Data Science Research,Data Folkz ...,Work From Home,10000 /month
3,Quantitative Research,AR Quants ...,Work From Home,1000 /month
4,Data Science,Dascitech ...,Work From Home,5000 /month
5,Equity Research & Fundamental Analysis,3C Capitals ...,Work From Home,5000 /month
6,Data Science,Blackcoffer ...,Work From Home,5000-10000 /month
7,Research (ML/AI),Madras Scientific Rese...,Work From Home,Unpaid
8,Data Analytics,Prakriti Textiles ...,Work From Home,10000 /month
9,Data Science,Prakriti Textiles ...,Work From Home,10000 /month
10,Research Analysis,App Incubator Technolo...,Work From Home,14000 /month
11,Data Science,Stylumia ...,Work From Home,20000 /month
12,Data Scraping,Furballs Veterinary Cl...,Work From Home,1000-3000 /month
13,Data Science,Reach Technologies ...,Work From Home,5000 /month
14,Python/Flask/SQLAlchemy Development,RedCarpetUp ...,Work From Home,20000-25000 /month
15,SAP Processing,INNOVAPTE ...,Work From Home,1000 /month
16,Data Scraping & Data Analytics,Sud Goyal ...,Work From Home,5000-6500 /month
17,Artificial Neural Networks,ROOT2AI Technology Pri...,Work From Home,Unpaid
18,Business Analytics,Edhub Alpha Private Li...,Work From Home,20000 /month
19,Data Analytics,Medius Technologies Pr...,Mumbai,10000 /month
20,DevOps Engineering,Helping Hand ...,Work From Home,1000 /month
21,Product Management,FactWise Tech ...,Mumbai,7000-12000 /month
22,GIS Application Development,VNuIT India ...,Work From Home,15000 /month
23,Research (AI/ML),Blackcoffer ...,Work From Home,5000 /month
24,Teaching (Data Science),Unschool ...,Work From Home,1500 /month
25,Management Trainee - Data Mining,EC-Council ...,Work From Home,15000 /month
26,Data Analysis,SPACE For Early Childh...,Work From Home,Unpaid
27,Business Analytics,Sharp ITech ...,Work From Home,25000 /month
28,Big Data Analytics,Substratal Solutions P...,Work From Home,2000-3500 /month
29,Deep Learning Engineering,The Tann Mann Foundati...,Work From Home,Unpaid
30,Machine Learning,RanchPal ...,Work From Home,4000 /month
31,Machine Learning Cloud Operations,VPODS.ai ...,Work From Home,10000 /month
32,Research And Development,UPAY (Under Privileged...,Work From Home,Unpaid
33,Geoinformatics,NatureDots Private Lim...,Work From Home,10000 /month
34,YouTube Analytics,Bollygrad Studioz ...,Work From Home,4500-7000 /month
35,Machine Learning,Clavrit Digital Soluti...,Work From Home,10000 /month
36,Machine Learning,Suvidha Foundation ...,Work From Home,Unpaid
37,Big Data Pipeline Development,VisionFirst Technologi...,Work From Home,2000 /month + Incentives
38,Machine Learning,Pugalia Woollen Mills ...,Work From Home,1000 /month
39,Machine Learning,SkillBit ...,Work From Home,5000 /month

### 10. Write a python program to scrape house details from https://www.nobroker.in/ for any location. It should include house title, location, area, emi and price

In [4]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time

# Creating time string to give fie name
timestr = time.strftime("%Y%m%d-%H%M%S")

# Creating empty list
BHK = []
Area = []
Size = []
Deposit = []
Rent = []
Type = []
Age = []
For = []
Possesion = []

# Function to scrape
def scrape_NoBroker(n):
    print(f'Exporting {n} rows!!!')

    try:
        for page in range(int(n / 10)):

            try:
                print(f'{(page + 1) * 10} rows added!!!')

                # Requesting URL
                url = requests.get(
                    'https://www.nobroker.in/property/rent/pune/multiple?searchParam=W3sibGF0IjoxOC41MDE4MzIyLCJsb24iOjczLjg2MzU5MTIsInBsYWNlSWQiOiJDaElKeFJnWkp4VEF3anNSUDAxSkREX21QUG8iLCJwbGFjZU5hbWUiOiJTd2FyZ2F0ZSJ9LHsibGF0IjoxOC40NTI5MzIyLCJsb24iOjczLjg2NTIzNzk5OTk5OTk5LCJwbGFjZUlkIjoiQ2hJSmgxOWxBY0hxd2pzUnlKb00xaUFLVzh3IiwicGxhY2VOYW1lIjoiS2F0cmFqIn0seyJsYXQiOjE4LjUzMTQ0MTksImxvbiI6NzMuODQ0NTYxNywicGxhY2VJZCI6IkNoSUpkMUY0SFhuQXdqc1J5RDEweW9GcTJDQSIsInBsYWNlTmFtZSI6IlNoaXZhamluYWdhciJ9XQ==&radius=2.0&sharedAccomodation=0' + str(
                        page)).text

                # Converting from HTML tag to BeautifulSoup object
                soup = BeautifulSoup(url, 'lxml')

                # Finding all the div tag wich contains all the info
                houses = soup.find_all('div', class_='card')

                # Looping through each div tag to get individual content
                for house in houses:
                    BHK.append(house.find('a', class_='card-link-detail')['title'][:1])
                    Area_raw = house.find('a', class_='card-link-detail')['title']
                    if ',' in Area_raw:
                        Area.append(Area_raw.split(',')[-1])
                    else:
                        Area.append(Area_raw.split('in', 1)[-1])
                        Size.append(house.find_all('meta', itemprop='value')[0]['content'])
                        Deposit.append(house.find_all('meta', itemprop='value')[1]['content'])
                        Rent.append(house.find_all('meta', itemprop='value')[2]['content'])
                        Type.append(house.find_all('h5', class_="semi-bold")[0].text)
                        Age.append(house.find_all('h5', class_="semi-bold")[1].text)
                        For.append(house.find_all('h5', class_="semi-bold")[2].text.replace('\n', ''))
                        Possesion.append(house.find_all('h5', class_="semi-bold")[3].text.replace('\n', ''))
                        
            except:
                print(f'Row number {(page + 1) * 10} failed. Trying next one!!!')
    except:
        pass

    # Creating DataFrame and storing data
    df = pd.DataFrame(list(zip(BHK, Area, Size, Deposit, Rent, Type, Age, For, Possesion, Link)),
                      columns=['BHK', 'Address','Size(Acres)', 'Deposit(Rs)', 'Rent(Rs)',
                               'Furnishing', 'Property Age', 'Available For', ' Immediate Possesion'])

    # Exporting DataFrame in form of CSV file
    File_name = "House_Data_" + timestr + ".csv"
    df.to_csv(File_name, index=False)
    print("File Exported Sucessfully!!!!")

# Calling fuction to export data
scrape_NoBroker(200)

Exporting 200 rows!!!
10 rows added!!!
20 rows added!!!
30 rows added!!!
40 rows added!!!
50 rows added!!!
60 rows added!!!
70 rows added!!!
80 rows added!!!
90 rows added!!!
100 rows added!!!
110 rows added!!!
120 rows added!!!
130 rows added!!!
140 rows added!!!
150 rows added!!!
160 rows added!!!
170 rows added!!!
180 rows added!!!
190 rows added!!!
200 rows added!!!
File Exported Sucessfully!!!!